<h1>{{model.serviceName}}</h1>
<h3>{{model.serviceType}}</h3>

Has Versioned data: {{model.hasVersionedData}} <br/>
Supports Disconnected Editing: {{model.supportsDisconnectedEditing}} <br/>

{{outlet}}
