<h1>{{model.serviceName}}</h1>
<h3>{{model.serviceType}}</h3>

Service description: {{model.serviceDescription}} <br/>
Map name: {{model.mapName}} <br/>
Description: {{model.description}} <br/>
Copyright: {{model.CopyrightText}} <br/>
Supports Dynamic layers: {{model.supportsDynamicLayers}} <br/>

{{outlet}}
