
{{model.id}} <br/>
{{model.currentVersion}} <br/>

<ul>
  {{#each model.services as |service|}}
    {{log service.type}}
    {{#if (is-map-server service.id)}}
      <li>{{#link-to (concat "root." service.type) service.serviceName}}{{service.serviceName}}{{/link-to}}</li>
    {{else}}
      <li>{{service.id}}</li>
    {{/if}}
  {{/each}}
</ul>

{{outlet}}