
<div class="wrapper">
	<div class="box">
    {{#link-to "root" model}}{{model.host}}/{{model.instance}}{{/link-to}}<br/>
    {{model.currentVersion}} <br/>

    <ul>
      {{#each model.services as |service|}}
        <li>{{#link-to (concat "root." service.serviceType) service.serviceName}}{{service.serviceName}}{{/link-to}}</li>
      {{/each}}
    </ul>
	</div>

  <div class="box">
		{{outlet}}
	</div>
</div>
